body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
}

#invalid-link {
  display: none;
}

#no-consent {
  display: none;
}

#consent-form {
  display: none;
}

#consent-status {
  text-decoration: underline;
}

input[type=submit] {
  padding: 6px 16px;
  background-color: rgb(85, 108, 214);
  color: white;
  border-radius: 6px;
  border-style: none;
  font-weight: 500;
  font-size: 0.875rem;
}

input[type=submit]:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}

.form-group {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  /* Make consent form centred on desktop */
  body {
    margin: 0 25%;
    width: 50%;
  }
}
